@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}

* {
  box-sizing: border-box;
}

/* Leaflet overrides to keep strict dark aesthetic */
.leaflet-container {
  background: #020617;
  filter: grayscale(1) contrast(1.1);
}

.leaflet-control-attribution,
.leaflet-control-zoom {
  display: none;
}

